body {
  font-family: "Kalam", serif;
}

ul {
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: blueviolet;
  font-size: 4vh;
  padding: 0 3vw;
}

#self {
  width: 40vw;
  height: auto; 
}

#general {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  font-size: 4vh;
  padding: 5vh 4vw;
}

#me h3 {
  position: relative;
  bottom: 3vh;
}

video {
  max-height: 75vh;
}

.prj-li {
display: flex;
font-size: 3vh;
text-decoration: none;
color: white;
padding: 3vh 0;
}

#prj-a {
  width: 4vw;
  height: 1vh;
}

#prj-a :hover {
  color: blueviolet;
}

#prj-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}

#prj-p {
  padding: 3vw;
}

#map-img {
  width: 50vw;
}

.other p {
  text-align: center;
}